.body h1 {
    text-align: center;
    /* margin-left: 40%; */
}

.body {
    background: #dbdbdb;
    background-size: 100%;
    margin-left: auto;
    /* background: #2691d9; */
}

.body form{
    font-size: 1.22em;
}

.body .add_button{
    border: none;
       border-radius: 4px;
       translate: ease-out 0.3s;
       font-size: 1.1em;
       outline: none;
       border: 3px solid #2691d9;
       z-index: 1;
}

.add_button:hover{
    transform: scale(1.1);
    background: #ff3772;
}



/* .input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid gray;
    border-radius: 0.6rem;
    color: white;
    outline: none;
    padding: 1.25rem;
    background: none;
} */
/* .label {

} */