.ul{
    position: relative;
    width: 100%;
    /* width: 450px; */
    /* margin: 100px auto 0; */
    padding: 10px;
    box-sizing: border-box;
    background: white;
    /* background: rgba(0, 0, 0, .1); */
    box-shadow: inset 0 0 15px rgba(0, 0, 0, .2) ;
    border-radius: 5px;
    overflow: hidden;
}

.ul .li{
    display: flex;
    /* background: rgba(0, 0, 0, .1); */
    background: #0a0607;
    /* background: #ff3772; */
    padding: 10px 20px;
    color: white;
    /* margin: 10px 0; */
    margin: 5px 0;
    transition: .5s;
}

.ul .li .text{
    /* width: 75%; */
    /* text-align: left; */
    /* position: absolute;
    width: 500px */
    font-size: 1.5em;

}

.ul .li .button1{
    position: absolute;
    margin-left: 60%;

    margin-top: 1em;
    border: none;
    border-radius: 4px;
    translate: ease-out 0.3s;
    font-size: 1.1em;
    outline: none;
    border: 3px solid rgb(223, 221, 217);
    z-index: 1;
}
.ul .li .button2{
    position: absolute;
    margin-left: 90%;
    margin-top: 1em;
    border: none;
    border-radius: 4px;
    translate: ease-out 0.3s;
    font-size: 1.1em;
    outline: none;
    border: 3px solid rgb(223, 221, 217);
    z-index: 1;
}

.ul .li:hover{
    transform: scale(1.05);
    background: #069fc5;
    /* background: #0082e6; */
    /* background: #ff3772 */
}

.ul .li .button1:hover{
    transform: scale(1.05);
}
.ul .li .button2:hover{
    transform: scale(1.05);
}

.paginator {
    display: flex;
    /* justify-content: space-between; */
    /* margin-left: -24px; */
}
.paginator button {
    margin-left: 15px;
    /* border: none; */
    border-radius: 4px;
    translate: ease-out 0.3s;
    font-size: 1.3em;
    outline: none;
    border: 3px solid black;
    z-index: 1;
}
.paginator button:hover {
    transform: scale(1.05);

}
.header{
    text-align: center;
}
.enter_icon {
    font-size: 2.5em;
    margin-left: 80%;
    position: absolute;
}
.enter_icon:hover {
    transform: scale(1.05);
    background: #0a0607;
}
.arrow_back {
    font-size: 2.5em
}
.date_edit {
    font-size: 1.1em;
}
.date_edit:hover {
    transform: scale(1.15);
}

.date {
    text-decoration: underline;
}
.preview {
    font-size: 1.1em;
}