.bdy{
    /* margin: 0; */
    /* padding: 0;    */
    background: linear-gradient(120deg, #ffe8f3, #2691d9);
    overflow: hidden;
    height: 150vh;
   }
   
    .center{
       position: absolute;
       top: 37em;
       left: 50%;
       transform: translate(-50%, -50%);
       width: 400px;
       background: white;
       border-radius: 10px;
   }
   
   .center h1{
       text-align: center;
       padding: 0 0 20px 0;
       border-bottom: 1px solid silver;
   } 
   
   .center form{
       padding: 0 40px;
       box-sizing: border-box;
   }
    
   form .input_field{
       position: relative;
       border-bottom: 2px solid #adadad;
       margin: 30px 0;
   }
   
   .input_field input{
       width: 100%;
       padding: 0 5px;
       height: 40px;
       font-size: 16px;
       border: none;
       background: none;
       outline: none;
   }
   
   .input_field label{
       position: absolute;
       top: 50%;
       left: 5px;
       color: #adadad;
       transform: translateY(-50%);
       font-size: 16px;
       pointer-events: none;
       transition: .5s;
   } 
   
   .input_field span::before{
       content: '';
       position: absolute;
       top: 40px;
       left: 0;
       width: 100%;
       height: 2px;
       background: #2691d9;
       transition: .5s;
       
   }
   
   .input_field input:focus ~ label,
   .input_field input:valid ~ label{
       top: -5px;
       color: #2691d9;
   }
   
   .input_field input:focus ~ span::before,
   .input_field input:valid ~ span::before{
       width: 100%;
   }
   
   .key{
       width: 100%;
       height: 50px;
       border: 1px solid;
       background: #2691d9;
       border-radius: 25px;
       font-size: 1em;
       color: #e9f4fb;
       font-weight: 700;
       cursor: pointer;
       outline: none;
   }
   
   .key:hover{
       border-color: #2691d9;
       transition: .5s;
   }
   
   .key2{
       border: none;
       border-radius: 4px;
       translate: ease-out 0.3s;
       font-size: 1.1em;
       outline: none;
       border: 3px solid #2691d9;
       z-index: 1;
   }